.feesmain h2  {
  display:  flex;
  justify-content: center;
  align-items: center;
}
.feesmain p {
  display:  flex;
  justify-content: center;
  align-items: center;
  color: #484848;
  margin: 0;
}
.feesbatch {
display:  flex;
justify-content:  center;
border-radius: 5.358px 0px 0px 5.358px;
background: rgba(0, 0, 0, 0.03);
width: 100%;
height: 67.201px;
flex-shrink: 0;
gap: 92px;
left: 200px;
margin :1px;
border-bottom: 0.1px solid #D5D5D5;
}
.feesbatch li {
  display: flex;
  justify-content: space-between;
  gap: 43px;
  padding: 7px;
  align-items: center;
  color: #484848;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 158%;
}
.feesbatch span {
  color: #484848;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 158%;
}
.fee2 {
  width: 164px;
  flex-shrink: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%;
  margin: 27px;
font-style: none;
list-style-type: none;
padding: 0;
}
.batch {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: fit-content;
  margin-top: 25px;
  box-shadow: 0px 0px 1px 0px grey;
  border-radius: 10px;
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(0.14turn, #0072BC, #2DB621, rgba(56,2,155,0));
  border-image-slice: 1;
  border-radius: 5px;
}
.firstfin {
  background-color: white;
  height: 200px;
  padding: 19px;
  box-shadow: 0px 0px 1px 0px grey;
  line-height: 44px;
  border-radius: 0px 6px 0px 0px;
}
.firstfin h2 {
  color: #484848;
}
.fingst {
  background-color: #FFF9F1;
  padding: 37px 25px;
  /* box-shadow: 0px 0px 1px 0px grey; */
  border-radius: 0px 0px 6px 0px;
  text-align: center;
}
.fingst  h3 {
  color: #484848;
  font-size: 20px;
}
.fin span {
color: #484848;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 158%;
}
.fin button {
  border-radius: 4px;
  background: #0072BC;
  position: relative;
  width: 152px;
  height: 33px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;
  border:  none;
  margin: 20px;
  cursor: pointer;
}
.fin button:hover {
  background: #fff;
  color: #0072BC;
}
.mainbatch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fill {
  background: #DD4D56;
  width: 136px;
height: 33px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 158%; /* 23.7px */
}
/* Styles for the fee details */
ul.feesbatch, ul.fee2 {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}
ul.fee2 li {
  margin-bottom: 15px; /* Add space below each list item */
}
.botttomDiv {
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 30px;
  align-items: center;
}

.feeh p{
  color: #F99600;
  text-align: left;
  display: block;
}

.feeh{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feesmain {
  padding-top: 100px;
}

@media (max-width: 641px) {
  .feesmain p {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
  .feeshead p {
    color: #484848;
    text-align: center;
    /* font-family: Open Sans; */
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 152%;
    /* margin: 12px 10px 0px 7px; */
    padding: 0px 31px;}

  .feesmain {
    padding-top: 50px;
  }
  .feesmain h2 {
    font-size: 22px;
  }

  .batch {
    display: block;
    margin: 30px 10px;
  border-image: none;
  border: none;
  }

  .feesbatch {
    gap: 10px;
    height: fit-content;
    padding: 10px 0px !important;
  }
  .botttomDiv {
    display: none;
  }
  .fin {
    display: flex;
    flex-direction: column-reverse;
  }
  .fingst {
    padding: 26px 0px;
  }
  .fingst h3 {
    font-size: 22px;
    font-weight: 650;
  }
  .fingst span {
    font-size: 22px;
    font-weight: 400;
  }
  .firstfin {
    margin: auto;
    background-color: none;
    border: 0;
    box-shadow: none;
    margin-top: 2px;
    height: fit-content;
    padding: 0px;
    align-items: center;
  }

  .firstfin p {
    font-size: 20px;
    margin-top: 20px;
  }

  .firstfin h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .firstfin span {
    font-size: 24px;
    font-weight: 600;
  }
  .firstfin button {
    font-size: 15px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 23px 32px;
    font-weight: 600;
    margin: auto;
  }
  .feeh {
    gap: 10px;
    margin-bottom: 20px;
  }
  .feeh p {
    color: #F99600;
text-align: center;
font-size: 14.298px;
font-style: normal;
font-weight: 700;
line-height: 158%; /* 22.591px */
  }
}
