.PlacementCallMain{
opacity: 2;
background-color: #1e1e1e;
mix-blend-mode: overlay;
 padding: 40px 0px;
}

.title {
    display:  flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.title h2 {
    color: #F99600;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.5%;
}
.title p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.5%;

}
.course {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* margin: 34px 40px 0px 40px; */
    margin-top: 30px;
    
}

.PlacementCallcourse {
    border-radius: 6.18px;
    border: 2.06px solid rgba(255, 255, 255, 0.60);
    padding: 14px 10px;
    margin: 10px 30px;
}
.PlacementCallcourse p {
    color: #80F7FF;
    text-align: center;
    font-family: Inter;
    font-size: 20.902px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.5%; /* 39.091px */ 
    margin: 0px 20px;
    
}

.projectcer p {
    color: #F99600;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.5%; /* 37.95px */
    margin: 0px;
}
.projectcer {

    border-radius: 2.18px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    padding: 10px 10px;
    /* margin-top: 33px; */
    text-align: center;
    /* gap: 3px; */

}
.PlacementCallIcon {
    width: 50px;
    height: 45px;
color:  #0072BC;
}


.imgsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


@keyframes scrollAnimation {
    from {
      transform: translateX(100%); 
    }
   
    to {
      transform: translateX(-50%); 
    }
  }
  


  .course
{

   animation: scrollAnimation  16s linear infinite;
   scroll-margin: 20px;
   scroll-behavior: smooth;
   white-space: nowrap; 
  

}
