.Course {
  padding: 40px 100px;
}
.Course h2 {
  color: black;
  font-weight: 700;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.listPanel .mPanel {
  display: none;
}
.listPanel {
  display: flex;
  width: 100%;
}

.bellIcon {
  font-size: 20px;
}

.span {
  padding: 20px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  background-color: rgba(225, 241, 245, 0.50);
  justify-content: start;
}
.ActiveSpan {
  padding: 20px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  justify-content: start;
  background-color: #0072BC;
  border-top: 4px solid #2d9cd7;
  border-right: 2px solid #28557a2e;
}
.gridPanel {
  display: flex;
  height: 510px;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  padding: 0px 20px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}

.courses {
  background: #ffffff;
  margin-top: 30px;
}
.listPanel {
  text-align: center;
  display: flex;
  width: 60%;
  margin-bottom: 20px;
  margin-left: 420px;
  justify-content: flex-end;
  gap: 10px;
}

.span {
  padding: 20px;
  width: 60%;
  font-weight: 600;
  cursor: pointer;
  justify-content: start;
  padding: 7px 5px;
  border-radius: 15px;
   margin-top: 20px;
}
.ActiveSpan {
  padding: 5px 5px;
  width: 60%;
  font-weight: 600;
   margin-top: 20px;
  cursor: pointer;
  justify-content: start;
  border-right: 2px solid #28557a2e;
  border-radius: 15px;
}

.gridPanel {
  display: flex;
  height: 530px;
  width: 100%;
  max-height: 600px;
  margin-top: 20px;
  gap: 20px;
  padding: 0px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}

.gridPanel .Course h5 {
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
}
.leftSide {
  padding: 0px;
  background-color: transparent;
  max-height: 510px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  width: 33%;
  margin-top: 20px;
  margin-left: 10px;
}

.SliderWrap {
  display: flex !important;
  flex-flow: column;
  border-radius: 8px;
  background-color: white;
  box-shadow: -1px 0px 10px 2px rgba(4, 135, 217, 0.1);
}
.contentBox {
  width: 100%;
  position: relative;
  flex-flow: column;
  align-items: center;
  border-radius: 19px;
  padding: 0px 20px 20px 20px;
  margin-left: 0px;
  background-color: white;
      height: 252px;
}
.imgWrap {
  border-radius: 8px;
}

.leftSide h6 {
  font-size: 17px;
  margin: 0;
  width: 100%;
  margin-top: 0px;
  color: #000;
}
.headWrapper {
  display: flex;
  flex-flow: column;
  width: max-content;
  margin-bottom: 20px;
}

.hr {
  border: 1px solid #efefef;
  background-color: #0072bc;
  height: 1px;
  top: 34%;
  position: absolute;
  width: 95%;
}
.hr1 {
  border: 1px solid #efefef;
  background-color: #0072bc;
  height: 1px;
  bottom: -1%;
  position: absolute;
  width: 95%;
}
.mainHead {
  background: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}
.leftSide p {
  display: flex;
  color: #676767;
  margin: 16px 0px;
  align-items: center;

}

.Div {
 justify-content: space-between;
 width: fit-content;
 display: flex;
}
.Div .rate{ color: #F99600;}
.Div .tag{
  background-color: #0072BC;
     border-radius: 12px;
    font-size: 12px;
    color: #FFF;
    padding: 5px 5px;
}

.leftSide p:last-child {
  margin: 0;
}

.singleP {
  width: 100%;
  margin: 0;
}
.checkCircle {
  margin-right: 10px;
  color: #F99600;
  font-size: 22px;
}
.btnWrapper {
  display: grid;
  grid-template-columns: 50% 1% 49%;
  width: 100%;
  gap: 0px;

  margin-top: 0px;
}
.btnWrapper button {
  padding: 18px 15px;
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 0;
  font-size: 16px;
}
.btnWrapper a {
  display: flex;
  align-items: center;
  width: 100%;
}
.btnLine {
  border: 0px;
  border-left: 1px solid #676767;
  border-right: 1px solid #676767;
  height: 100%;
  width: max-content;
  padding: 0;
  outline: none;
  margin: 0;
}
.link1 {
  margin-left: -3px;
}
.fillBtn {
  background-color: #0072bc;
  color: white;
  height: 100%;
  border-radius: 0px 0px 8px 0px;
}

.h5font {
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
}
.paraDiv p {
  font-size: 15px;
}

@media (max-width: 1281px) {
  .Course {
    padding: 40px 80px;
  }
  .Course h2 {
    font-size: 30px;
  }
  .SliderWrap {
    width: 360px;
    margin-left: 0 !important;
  }
  .headWrapper h6 {
    font-size: 18px;
  }
  .hr {
    top: 27%;
    width: 87%;
  }
  .hr1 {
    top: 100%;
    width: 100%;
    left: 0%;
  }
  .btnWrapper button {
    padding: 15px 15px;
  }
  .listPanel{
    margin-left: 439px;
  }
}

@media (max-width: 1024px) {
  .span,
  .ActiveSpan {
    font-size: 14px;
    padding: 9px;
  }
  .gridPanel {
    height: 520px;
  }
  .Course {
    padding: 0px 20px 50px 20px;
  }
  .courses {
    padding-bottom: 20px;
  }
}

@media (max-width: 961px) {
  .span,
  .ActiveSpan {
    padding: 7px  7px;
  }
  .listPanel{
    margin-left: 360px;
  }
}

@media (max-width: 801px) {
  .span,
  .ActiveSpan {
    font-size: 12px;
  }
  .listPanel{
        margin-left: 300px;
  }
  .span{  
    padding: 7px 7px !important;
    width: 51%;
    font-size: 11px;
  }
  .ActiveSpan{
       padding: 7px 7px !important;
         width: 61%;
  }
}

@media (max-width: 641px) {
  .Course h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .listPanel {
  margin-left: 3px;
  justify-content: start;
}
.span{  
    padding: 7px 7px !important;
    width: 40%;
    font-size: 11px;
  }
  .ActiveSpan{
       padding: 7px 7px !important;
       width: 40%;
  }
   .listPanel {
    display: flex;
   width: 100%;  
  }
  /* do tab mobile part */

}

@media (max-width: 481px) {
  .Course {
    padding: 0 20px;
    margin-top: 30px;
    width: 100%;
  }

  .headWrapper {
    margin-bottom: 10px;
  }
  .paraDiv {
    margin-top: 30px;
  }
  .leftSide {
    height: 340px !important;
  }
 
  .Course h2 {
    font-size: 23px;
    font-weight: 700;
  }

  .courses {
    padding: 0px;
    box-shadow: none;
  }
  .gridPanel {
    gap: 0px;
  }
 

  .gridPanel {
    grid-template-columns: 85% 85%;
    /* overflow: scroll; */
    padding: 0;
    max-height: 650px;
    margin-top: 0px;
  }

  .leftSide {
    width: 100%;
    margin: 10px 10px;
    padding: 0px;
  }

  .hr {
    top: 27%;
    margin-left: -15px;
    width: 100%;
  }
  .leftSide h6 {
    width: 100%;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    color: #0072bc;
    margin-right: 0;
  }
  .mainHead {
    margin-bottom: 20px;
  }
  .checkCircle {
    margin-right: 5px;
  }
  .Course h5 {
    padding: 10px;
  }
  .contentBox {
    margin-top: 0px;
    overflow: hidden;
  }

  .SliderWrap {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    justify-content: center;
    position: relative;
    height: 425px;
    width: 100%;
    background-color: white;
  }
  .contentBox {
    background-color: transparent;
    align-items: flex-start;
  }
  .contentBox p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .hr1 {
    bottom: -3%;
    margin-left: -20px;
  }
  .btnWrapper button {
    padding: 18px 14px;
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0;
  }
  .btnWrapper a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .btnLine {
    border: 0px;
    border-left: 1px solid #676767;
    border-right: 1px solid #676767;
    height: 100%;
    width: max-content;
    padding: 0;
    outline: none;
    margin: 0;
  }
  .link1 {
    margin-left: -3px;
  }
  .fillBtn {
    height: 100%;
    border-radius: 0px 0px 8px 0px;
  }
  .imgWrapper {
    width: 300px !important;
  }
}
