.mdiv {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 65px 100px 50px 177px;
  background: #f2f9ff;
  background-image: url(https://learnbay-wb.s3.ap-south-1.amazonaws.com/main-blog/blog/author-banner-2.png);
  background-size: cover;
  box-shadow: 0 8px 31px -16px #2372bc;
}
.mdiv > * {
  flex: 1 1 0;
}

.adesc {
  font-style: italic;
  font-size: 18px;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
}

.adesc p {
  position: relative;
  bottom: 3rem;
  color: #575555;
  font-size: 16px;
  line-height: 148%;
  text-align: justify;
}

.mcircle {
  /* margin-left: -50px; */
}

.circle {
  border-radius: 50%;
  border: solid 3px #534f4f;
}
.m1div {
  /* margin-left: -28rem; */

  /* position: relative;
  bottom: 2rem;
  margin-bottom: -4rem; */
}

.m2div h1 {
  /* margin-bottom: -20px; */
}

.Social {
  /* display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 200px; */
}

.bIcons {
  font-size: 24px;
  position: relative;
  left: 18rem;
  bottom: 3.2rem;
  display: inline;
  display: initial;
  background-color: #0a66c2;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 1.5px;
}

@media (max-width: 500px) {
  .mdiv {
    display: flex;
    background: #f2f9ff;
  }
  .mdiv > * {
    flex: 1 1 0;
  }

  .adesc {
    font-style: italic;
    font-size: 18px;
    font-style: italic;
    font-size: 16px;
    line-height: 25px;
  }
  .adesc p {
    margin-bottom: 14rem;
    text-align: justify;
  }

  .mcircle {
    position: relative;
    bottom: 3rem;
    left: 1.5rem;
  }

  .circle {
    border-radius: 50%;
  }

  .m1div {
    margin-left: -28rem;
    position: relative;
    top: 11rem;
    left: 1rem;
  }
  .m1div h1 {
    text-align: center;
  }

  .bIcons {
    font-size: 24px;
    position: relative;
    left: 14rem;
    bottom: 3.2rem;
    display: inline;
    display: initial;
    background-color: #0a66c2;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 2px;
  }

  .social {
    position: relative;
    bottom: 4rem;
    right: 5rem;
  }
}

@media (max-width: 400px) {
  .mcircle {
    position: relative;
    bottom: 3rem;
    left: -2.5rem;
  }
}
