.button {
  padding: 12px 30px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #0072bc;
}
.button:hover {
  border: 1px solid #0072bc;
  background-color: white;
  color: #0072bc;
}
.outLineBtn,
.outLineBtn1 {
  padding: 12px 20px;
  border: 1px solid #0072bc;
  color: #0072bc;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
}
.outLineBtn:hover {
  background-color: #0072bc;
  color: white;
}
@media (max-width: 1281px) {
  .button,
  .outLineBtn {
    padding: 10px 20px;
  }
}
@media (max-width: 1281px){
.outLineBtn{
  position: relative;
    top: -15px;

    flex-flow: row-reverse;
}
}

