@import "./Button.css";
:root {
  --swiper-navigation-color: #edb552;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: transparent;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 34px;
}
h4 {
  font-size: 37px;
  color: black;
}
h3 {
  font-size: 32px;
}
h2 {
  font-size: 32px;
  color: black;
}
h5 {
  font-size: 27px;
  color: black;
}
h6 {
  font-size: 22px;
  color: black;
}
p {
  margin: 0;
  font-size: 16px;
  color: #646464;
}

a {
  color: inherit;
  text-decoration: none;
}
.imgWrapper {
  display: flex;
  width: 100%;
}
.imgWrapperMobile {
  display: none;
}
.imgWrapperDesktop {
  display: flex;
  width: 100%;
}
.imgWrapperDesktop img {
  width: 100%;
  height: auto;
}
.imgWrapper img {
  width: 100%;
  height: auto;
}
.bgWrap {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.flexBox {
  display: flex;
}
.flexBoxColumn {
  flex-flow: column;
}
.flexBoxRow {
  flex-flow: row;
}

.flexJustSpaceBetween {
  justify-content: space-between;
}
.flexJustSpaceCenter {
  justify-content: center;
}
.flexAlignCenter {
  align-items: center;
}
.flexAlignStart {
  align-items: start;
}

.bIcons {
  margin-right: 8px;
  display: initial;
  font-size: 18px;
  margin-left: 8px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  padding: 40px 100px;
}
//swiper css
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
//swiper css end
//home page why learnbay icon css
.numberIcon {
  font-size: 40px;
  color: #0072bc;
}
//icon css end home page
@media (max-width: 1281px) {
  .wrapper {
    padding: 40px 80px;
  }
  .whiteP {
    width: 300px;
  }
  .RightPopup {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 30px 60px;
  }
}
@media (max-width: 961px) {
  .wrapper {
    padding: 30px 40px;
  }
  .whiteP {
    width: 350px;
  }
  .RightPopup {
    width: 90%;
    margin-left: 50px;
  }
}
@media (max-width: 850px) {
  .leftPopup {
    display: none;
  }
  .RightPopup {
    margin-left: 0;
  }
}
@media (max-width: 801px) {
  .wrapper {
    padding: 30px 20px;
  }
}
@media (max-width: 641px) {
  .imgWrapperMobile {
    display: flex;
  }
  .imgWrapperDesktop {
    display: none;
  }
}
