.infop {
  color: black;
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.ptop {
  font-size: 20px;

  color: #767676;
  line-height: 26px;
  text-align: center;
}
.header {
  padding: 30px 0;
  display: flex;
  gap: 40px;
  width: 100%;
}
.pWrap {
  display: flex;
  gap: 20px;
  padding: 8px 10px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}
.line {
  margin: 0;
  padding: 0;

  border-left: 1px solid #0072bc;
  height: 100%;
}
.header p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 8px 10px;

  cursor: pointer;
}
.activeP {
  background-color: #d3f0ff;
  color: #0072bc;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 4px;
}
.MicroCert {
  display: grid;
  grid-template-columns: 48% 49%;
  width: 100%;
  height: 100%;
  padding: 20px 70px 100px 70px;
  align-items: center;
  justify-content: space-between;
}
.rightSide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}
.rightSide h6 {
  margin-top: 0 !important;
  font-size: 27px !important;
  line-height: 40px !important;
  margin-bottom: 10px !important;
}
.certificate h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.gridPanel {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 30px;
  padding: 0px;
}

.leftSide {
  display: flex;
}

.leftSideP {
  padding: 20px 50px 50px 50px;
  width: 100%;
  border-radius: 8px;
  margin: 20px;
}

.leftSide h6,
.rightSide h6 {
  color: #0072bc;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.leftSide p,
.rightSide p {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 20px 0;
  font-weight: 400;
  line-height: 24px;
}

.checkCircle {
  margin-right: 15px;
  font-size: 24px;
  color: #2d9cd7;
}

@media (max-width: 1281px) {
  .certificate {
    padding: 0px 40px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 49%;
  }
}

@media (max-width: 1025px) {
  .leftSideP {
    padding: 0px 10px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .certificate {
    padding: 0px 14px;
    margin-top: 30px;
  }
  .leftSideP {
    padding: 0px;
    margin: 5px;
  }
}

@media (max-width: 641px) {
  .header {
    padding: 30px 20px 0px 20px;
    display: flex;
    gap: 40px;
    width: 100%;
  }
  .infop {
    font-size: 24px;
  }
  .pWrap {
    display: grid;
    grid-template-columns: 45% 2% 49%;
    gap: 5px;
    width: 100%;
  }
  .line {
    width: 1px;
  }
  .gridPanel {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    gap: 0px;
    box-shadow: rgba(133, 222, 255, 0.634) 0px 3px 8px;
  }
  .MicroCert {
    display: flex;
    flex-flow: column;
    padding: 20px;
    box-shadow: rgba(133, 222, 255, 0.634) 0px 3px 8px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0px 10px 0px;
  }
  .rightSide p {
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .rightSide h6 {
    font-size: 18px !important;
    line-height: 24px !important;
    margin-bottom: 0 !important;
  }
  .header p {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    padding: 5px 8px;
  }
  .activeP {
    font-size: 14px !important;
  }

  .gridPanel {
    width: 100%;
  }

  .leftSide,
  .rightSide {
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }

  .leftSideP {
    padding: 20px 20px 0 20px;
    width: 100%;
    border-radius: 8px;
    margin: 0;
  }

  .leftSide h6,
  .rightSide h6 {
    margin: 0;
  }

  .checkCircle {
    margin-right: 5px;
  }

  .leftSide p,
  .rightSide p {
    display: grid;
    grid-template-columns: 10% 90%;
  }
}
