.toolscoverd {
    padding: 50px 0px 0px 0px;
  }

  .infop {
    color: black;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }

  .sliderTopD {
    margin: 50px 0px 100px 0px; 
    padding: 20px 100px;
display: flex;
}

.sliderTopM {
    display: none;
  }

  @media (max-width: 961px) {
    .sliderTopD {
        padding: 20px 50px;
        margin: 20px 0px;
    }
  }

  @media (max-width: 961px) {
    .sliderTopD {
        padding: 20px 30px;
    }
  }

  @media (max-width: 641px) {
    .toolscoverd {
        padding: 0px;
      }
      .infop {
        font-size: 24px;
        padding-top: 20px;
      }
      .sliderTopM {
        margin: 0;
        padding: 20px 20px;
        background: none;
        box-shadow: none;
        display: block;
      }
      
      .sliderTopD {
        display: none;
      }

  }