.container {
    padding: 50px;
    background: rgba(255, 0, 0, 0.17);
}

.container h4 {
    text-align: center;
}

.BoxDiv {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 25px;
    margin-top: 50px;
}