.container {
  position: relative;
}


.search {
  border: 1px solid #666;
  box-sizing: border-box;
  font-size: 18px;
  padding: 18px;
  width: 40%;
  height: 1px;
}

.results {
  list-style: none;
  overflow: hidden;
  margin: 9px 0 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.result {
  background: #ffffff;
  color: #000000;
  margin: 0 0 0px;
  padding: 18px;
  width: 40%;
  box-shadow: rgb(0 0 0 / 16%) 0px -8px 15px;
}

.result a {
  color: rgb(0, 0, 0);
}

.searchicon{
  position: relative;
  right: 35px;
  top: 4px;
}

.blogButton{
  float: right;
}


@media (max-width: 600px){

  .search {
    border: 1px solid #666;
    box-sizing: border-box;
    font-size: 14px;
    padding: 18px;
    width: 56%;
    height: 1px;
  }

}
