.blogWrap {
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.blogUpper {
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  align-items: center;
}

.botCont {
  display: flex;
  justify-content: space-between;
}

.blogBox {
  display: flex;
  position: relative;
}

.categoryPosts h4:hover {
  color: #2d9cd7;
}

.profileWrap {
  padding: 15px 30px 15px 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px 0px 0px 10px;
}

.profileWrap h4 {
  font-size: 26px;
  font-weight: 500;
  margin: 10px 0px 20px 0px;
  line-height: 23px;
}
.profileWrap span {
  display: flex;
  gap: 5px;
  flex-flow: column;
  color: #0072bc;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  margin: 20px 0px;
}

.blog span h5,
.profileWrap h5 {
  font-size: 14px;
  color: white;
  margin: 0;
}
.blog span p,
.profileWrap p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  margin-top: 5px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #545151;
}

.tagSpan {
  padding: 8px;
  font-size: 12px;
  background-color: #0072bc17;
  color: #2d9cd7;
  border-radius: 8px;
  width: max-content;
  cursor: pointer;
  margin-bottom: 10px;
}

.tagSpan:hover {
  color: #2d9cd7;
}

.categoryPosts {
  cursor: pointer;
}

.viewMoreSection {
  padding: 50px 70px 0px 70px;
  display: flex;
  gap: 200px;
}
.viewMoreSection h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}
.viewMoreSection p {
  color: #4fa0eb;
  font-size: 20px;
  margin-top: 15px;
}

.categoryWrapper {
  display: grid;
  grid-template-columns: 75% 20%;
  gap: 65px;
  padding: 50px 50px 100px 50px;
}
.categoryPost {
  display: grid;
  grid-template-columns: 39% 59%;
  gap: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 20px;
  border-radius: 8px;
  height: max-content;
  align-items: center;
}
.categoryPost:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgb(45 156 215 / 31%);
  -moz-box-shadow: 0px 0px 10px 0px rgb(45 156 215 / 31%);
  box-shadow: 0px 0px 10px 0px rgb(45 156 215 / 31%);
}
.link {
  margin-bottom: 18px;
}

.rightCategoryPostFirst p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.rightCategoryPostSecond p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
}

.hrline {
  border: 1px solid #efefef;
  background-color: #0072bc;
}

.authordiv {
  margin-top: 10px;
}

.categoryPostRightSide .categoryPost {
  display: block;
  padding: 34px;
}

.categoryPostImg {
  height: 240px;
  border-radius: 0px 10px 10px 0px;
  z-index: -1;
}

.upperDiv {
  margin-top: 130px;
  padding: 0px 100px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.innerP {
  display: flex;
}

.innerP p {
  cursor: pointer;
}

.innerP p:hover {
  color: #2d9cd7;
  border-bottom: 1px solid;
}

.formControl {
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #0000004d;
  display: flex;
  gap: 10px;
  align-items: center;
}

.formControl input {
  border: none;
  outline: none;
}

.btnsFlex {
  display: flex;
  gap: 20px;
}

.btnsFlex select {
  background-color: #0072bc;
  color: #fff;
  padding: 5px 10px;
}

.btdfdd {
  border-radius: 8px;
}

.rightSide {
  background: #e1f1f54d;
  text-align: center;
  height: 410px;
  padding: 0px 20px;
  overflow-x: scroll;
}

.rightSide p {
  padding: 20px 0px;
  border-bottom: 1px solid #0000001a;
  border-width: 20%;
}

.rightSide p:last-child {
  border: none;
}

@media (max-width: 1281px) {
  .viewMoreSection {
    gap: 100px;
  }
  .upperDiv {
    padding: 0px 50px;
  }
  .categoryWrapper {
    padding: 50px 50px;
    gap: 45px;
    grid-template-columns: 72% 24%;
  }
}

@media (max-width: 1024px) {
  .categoryPost {
    padding: 20px;
  }

  .upperDiv {
    margin-top: 100px;
    padding: 0px 20px;
  }

  .categoryWrapper {
    grid-template-columns: 70% 25%;
    padding: 50px 20px;
  }

  .blogWrap {
    grid-template-columns: 48% 48%;
    display: grid;
    gap: 30px;
  }

  .blog {
    display: flex;
    justify-content: center;
  }

  .blogUpper {
    display: block;
  }
  .viewMoreSection h2 {
    font-size: 20px;
  }

  .viewMoreSection p {
    font-size: 16px;
  }

  .profileWrap h4 {
    font-size: 24px;
    line-height: inherit;
  }

  .profileWrap p {
    font-size: 0.81rem;
    gap: 7px;
  }

  .rightCategoryPostFirst p {
    font-size: 15px;
  }
  .categoryPostImg {
    height: fit-content;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .profileWrap {
    border-radius: 0px 0px 10px 10px;
  }
}

@media (max-width: 801px) {
  .blogWrap {
    display: flex;
  }
  .blog img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
  }
  .categoryWrapper {
    gap: 20px;
    grid-template-columns: 70% 27%;
  }
  .rightSide p {
    font-size: 12px;
  }
}

@media (max-width: 641px) {
  .profileWrap h4 {
    font-size: 18px;
  }

  .innerP {
    display: flex;
  }
  .upperDiv {
    display: grid;
    gap: 20px;
  }

  .profileWrap {
    padding: 20px;
  }
  .categoryWrapper {
    grid-template-columns: 66% 31%;
  }
}

@media (max-width: 481px) {
  .btnsFlex {
    display: grid;
    gap: 10px;
  }
  .blogWrap {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    margin: 30px 20px;
  }
  .blog {
    padding: 0px;
    position: relative;
  }
  .categoryPosts {
    margin: 30px 20px;
  }
  .categoryWrapper {
    display: block;
    padding: 0px;
    
  }
  .categoryPost {
    display: block;
    padding: 10px 10px;
    align-items: left;
  }
  .rightCategoryPost {
    margin-top: 10px;
  }

  .rightSide {
    margin: 20px 20px 50px 20px;
  }
}
