.container {
  padding: 40px 100px;
}
.feature {
  width: 100%;
  margin-top: -0px;
  text-align: center;
  padding: 20px;
}
.feature p {
  font-size: 24px;
  font-weight: 700;
}
.feature span {
  color: #2db621;
}
.featureIcons {
  color: #edb552;
  font-size: 40px;
}

.containerMobile {
  display: none;
}

.Homeimg{

}



@media (max-width: 641px) {
  .feature .container {
    display: none;
  }
  .featureIcons {
    color: #edb552;
    font-size: "35px";
  }
  .containerMobile {
    display: block;
  }

  .feature {
    padding: 0px4;
  }

  .containerMobile img {
    margin-top: 30px;
  }
}
